/*
 * LaPhunk production NAVIGATION CONTROLS STYLESHEET.
 * 
 *   This file is part of LaPhunk production website.
 * 
 *   You can redistribute it and/or modify it under the terms of the
 *   GNU Lesser General Public License as published by the Free Software
 *   Foundation, either version 3 of the License, or (at your option)
 *   any later version.
 * 
 *   This code is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *   GNU Lesser General Public License for more details.
 * 
 *   See <http://www.gnu.org/licenses/> for complete copy of the GNU
 *   Lesser General Public License.
 *
 * @author Nicolas Broussard <laphunkprod@gmail.com>
 *         LaPhunk, 2013.
 */

.control {
   background:                         black;
   box-shadow:                         0px 0px 30px #422100;
   z-index:                            999;
}

.clink {
   color:                              #FEE;
   font-size:                          1.2em;
   font-weight:                        normal;
   line-height:                        1em;
   text-align:                         center;
   text-decoration:                    none;
   text-transform:                     uppercase;
}

.ctop {
   top:                                0px;
   left:                               50%;
   padding:                            9px 40px 4px;
   position:                           absolute;
   
   -webkit-border-bottom-left-radius:  35px;
   -webkit-border-bottom-right-radius: 35px;
   -moz-border-radius-bottomleft:      35px;
   -moz-border-radius-bottomright:     35px;
   border-bottom-left-radius:          35px;
   border-bottom-right-radius:         35px;
}

.cright {
   top:                                50%;
   right:                              0px;
   padding:                            30px 10px;
   position:                           absolute;

   -webkit-border-top-left-radius:     25px;
   -webkit-border-bottom-left-radius:  25px;
   -moz-border-radius-topleft:         25px;
   -moz-border-radius-bottomleft:      25px;
   border-top-left-radius:             25px;
   border-bottom-left-radius:          25px;
}

.cbottom {
   bottom:                             0px;
   left:                               50%;
   padding:                            9px 40px 4px;
   position:                           absolute;
   
   -webkit-border-top-left-radius:     35px;
   -webkit-border-top-right-radius:    35px;
   -moz-border-radius-topleft:         35px;
   -moz-border-radius-topright:        35px;
   border-top-left-radius:             35px;
   border-top-right-radius:            35px;
}

.cleft {
   top:                                50%;
   left:                               0px;
   padding:                            30px 10px;
   position:                           absolute;

   -webkit-border-top-right-radius:    25px;
   -webkit-border-bottom-right-radius: 25px;
   -moz-border-radius-topright:        25px;
   -moz-border-radius-bottomright:     25px;
   border-top-right-radius:            25px;
   border-bottom-right-radius:         25px;
}

/*
 * Vertical/horizontal text size+margin centering :
 */

.cabout_h {
   width:                                50px;
   margin-left:                         -65px; /* (50/2) + (padding-left) */
}

.cabout_v {
   height:                              100px;
   margin-top:                          -95px; /* (100/2) + padding-top + (player-height/2) */
}

.cbands_h {
   width:                                50px;
   margin-left:                         -65px;
}

.cbands_v {
   height:                              106px;
   margin-top:                          -98px;
}

.ccontact_h {
   width:                                70px;
   margin-left:                         -75px;
}

.ccontact_v {
   height:                              140px;
   margin-top:                         -115px;
}

.cevents_h {
   width:                                50px;
   margin-left:                         -65px;
}

.cevents_v {
   height:                              120px;
   margin-top:                         -105px;
}

.chome_h {
   width:                                44px;
   margin-left:                         -62px;
}

.chome_v {
   height:                               84px;
   margin-top:                          -87px;
}

.ctheeskapad_v {
   height:                              150px;
   margin-top:                         -120px;
}

.cchakals_v {
   height:                              150px;
   margin-top:                         -120px;
}

.cgroovetrotterz_v {
   font-size:                           0.8em;
   height:                              275px;
   line-height:                         1.2em;
   margin-top:                         -180px;
}

.cgtz_v {
   font-size:                             1em;
   height:                               75px;
   line-height:                         1.2em;
   margin-top:                          -80px;
}

/*
 * Lines :
 */

.c_line_top {
   background:                         black;
   height:                             4px;
   position:                           absolute;
   width:                              100%;
   top:                                0px;
   z-index:                            999;
}

.c_line_right {
   background:                         black;
   height:                             100%;
   position:                           absolute;
   width:                              4px;
   right:                              0px;
   z-index:                            999;
}

.c_line_bottom {
   background:                         black;
   height:                             4px;
   position:                           absolute;
   width:                              100%;
   bottom:                             0px;
   z-index:                            999;
}

.c_line_left {
   background:                         black;
   height:                             100%;
   position:                           absolute;
   width:                              4px;
   left:                               0px;
   z-index:                            999;
}
