/*
 * LaPhunk production LOGOTYPE CSS MODULES.
 * 
 *   This file is part of LaPhunk production website.
 * 
 *   You can redistribute it and/or modify it under the terms of the
 *   GNU Lesser General Public License as published by the Free Software
 *   Foundation, either version 3 of the License, or (at your option)
 *   any later version.
 * 
 *   This code is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *   GNU Lesser General Public License for more details.
 * 
 *   See <http://www.gnu.org/licenses/> for complete copy of the GNU
 *   Lesser General Public License.
 *
 * @author Nicolas Broussard <laphunkprod@gmail.com>
 *         LaPhunk, 2013.
 */

@import url("../fonts/font_wheremykeys.css");
@import url("../fonts/font_airstream.css");

/***********************************************************
 * LaPhunk logos :
 */

/*
 * LAPHUNK
 *      prod. (big) :
 */

.logo_big {
   line-height:        0.5em;
}

.logo_big_laphunk {
   font-family:        where_my_keys, sans-serif;
   font-size:          7em;
   font-weight:        normal;
   margin-right:       40px;
   text-align:         center;
   text-shadow:        0px 0px 10px rgba(67,33,0,0.5);
}

.logo_big_laphunk:hover {
   -webkit-animation:  pulse 0.35s; /* Chrome & Safari */
   -moz-animation:     pulse 0.35s; /* Firefox */
   -o-animation:       pulse 0.35s; /* Opera */
   animation:          pulse 0.35s;
}

.logo_big_prod {
   font-family:        airstream, sans-serif;
   font-size:          5em;
   font-weight:        normal;
   text-align:         right;
   text-shadow:        0px 0px 10px rgba(67,33,0,0.5);
}

/*
 * LA
 * PHUNK
 *    prod. (medium, topleft corner) :
 */

.logo_mediumleft {
   padding:            10px;
   width:              470px;
}

.logo_mediumleft_laphunk {
   font-family:        where_my_keys, sans-serif;
   font-size:          5em;
   font-weight:        normal;
   margin:             0px 0px -20px;
   text-shadow:        3px -3px 3px rgba(84,50,0,0.9);
}

.logo_mediumleft_laphunk:hover {
   text-shadow:        3px -3px 6px rgba(84,50,0,0.6);
}

.logo_mediumleft_prod {
   font-family:        airstream, sans-serif;
   font-size:          4.2em;
   font-weight:        normal;
   margin:             0px;
   text-align:         right;
   text-shadow:        3px -3px 8px rgba(84,50,0,0.9);
}






