/*
 * LaPhunk production MEDIA CSS MODULES.
 * 
 *   This file is part of LaPhunk production website.
 * 
 *   You can redistribute it and/or modify it under the terms of the
 *   GNU Lesser General Public License as published by the Free Software
 *   Foundation, either version 3 of the License, or (at your option)
 *   any later version.
 * 
 *   This code is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *   GNU Lesser General Public License for more details.
 * 
 *   See <http://www.gnu.org/licenses/> for complete copy of the GNU
 *   Lesser General Public License.
 *
 * @author Nicolas Broussard <laphunkprod@gmail.com>
 *         LaPhunk, 2013.
 */

/*
 * Disk cover, zoom enabled :
 */

.media_disk_thumb {
   margin:                 0px;
   
   -webkit-border-radius:  4px;
   -moz-border-radius:     4px;
   border-radius:          4px;
   
   box-shadow:             0px 0px 30px #422100;
}

/*
 * Band icon, hovered :
 */

.media_icon_hover {
   border:                 7px double #220022;
   box-shadow:             0px 0px 10px rgba(67,33,0,0.5);
   
   opacity:                .75;
   filter:                 alpha(opacity = 75);                                   /* IE 5-7 */
   -ms-filter:             "prodig:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /* IE8 */
   
   -webkit-transition:     opacity 0.25s ease-in-out; /* Chrome & Safari */
   -moz-transition:        opacity 0.25s ease-in-out; /* Firefox */
   -o-transition:          opacity 0.25s ease-in-out; /* Opera */
   transition:             opacity 0.25s ease-in-out;

   -webkit-border-radius:  10px;
   -moz-border-radius:     10px;
   border-radius:          10px;
}
 
.media_icon_hover:hover {
   opacity:                1;
   filter:                 alpha(opacity = 100);                                   /* IE 5-7 */
   -ms-filter:             "prodig:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */

   -webkit-animation:      wiggle 0.35s; /* Chrome & Safari */
   -moz-animation:         wiggle 0.35s; /* Firefox */
   -o-animation:           wiggle 0.35s; /* Opera */
   animation:              wiggle 0.35s;
}

/*
 * Social toolbar :
 */

.media_socialtb {
   height:                 62px;
}

.media_socialtb_icon {
   float:                  right;
   width:                  62px;
   height:                 62px;
   
   -webkit-opacity:        .8;
   -moz-opacity:           .8;
   opacity:                .8;
}

.media_socialtb_icon:hover {
   -webkit-opacity:        1;
   -moz-opacity:           1;
   opacity:                1;
}
