/*
 * LaPhunk production custom Stratus player stylesheet.
 * 
 *   This file is part of LaPhunk production website.
 * 
 *   You can redistribute it and/or modify it under the terms of the
 *   GNU Lesser General Public License as published by the Free Software
 *   Foundation, either version 3 of the License, or (at your option)
 *   any later version.
 * 
 *   This code is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *   GNU Lesser General Public License for more details.
 * 
 *   See <http://www.gnu.org/licenses/> for complete copy of the GNU
 *   Lesser General Public License.
 *
 * @author Nicolas Broussard <laphunkprod@gmail.com>
 * (C) LaPhunk, 2013.
 */

#stratus {
    color:#000;
}

#stratus #drawer,#stratus #player {
    background:#110011;
    border: none;
}

#stratus #player ul#buttons li {
    border-style: none;
    border-width: 0 0 0 0px;
}

.track {
    border-left-color: rgba(0,0,0,0);
}

#stratus #drawer #artwork {
    -webkit-box-shadow:inset -5px 0 5px -5px rgba(0,0,0,0.15);
    -moz-box-shadow:inset -5px 0 5px -5px rgba(0,0,0,0.15);
    box-shadow:inset -5px 0 5px -5px rgba(0,0,0,0.15)
}

#stratus #drawer ul#tracks li {
    color:#000
}

#stratus #drawer ul#tracks li:nth-child(2n) {
    background:#ffb088
}

#stratus #drawer ul#tracks li:hover {
    background:#ffb088
}

#stratus #drawer ul#tracks li.current {
    color:#fff
}

#stratus #player .prev,#stratus #player .next,#stratus #player .play,#stratus #player .pause,#stratus #player ul#stats li span,#stratus #player ul#buttons li > *,#stratus #player .close,#stratus #player #share {
    background-image:url("../../img/sprites.png");
}

#stratus #player a {
    color:#ffb088;
}

#stratus #player #time {
    background:#555;
}

#stratus #player #time:hover {
    background:#999
}

#stratus #player ul#stats li,#stratus #player ul#buttons li {
    border-color:#000
}

#stratus #player #share ul#social a {
    background:url("../../img/social.png")
}

#stratus #player #share #embed input {
    border-color:#000
}
