/*
 * LaPhunk production TEXT FORMATTING STYLESHEET.
 * 
 *   This file is part of LaPhunk production website.
 * 
 *   You can redistribute it and/or modify it under the terms of the
 *   GNU Lesser General Public License as published by the Free Software
 *   Foundation, either version 3 of the License, or (at your option)
 *   any later version.
 * 
 *   This code is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *   GNU Lesser General Public License for more details.
 * 
 *   See <http://www.gnu.org/licenses/> for complete copy of the GNU
 *   Lesser General Public License.
 *
 * @author Nicolas Broussard <laphunkprod@gmail.com>
 *         LaPhunk, 2013.
 */

/* Import fonts : */
@import url("../fonts/font_ssgrogy.css");
@import url("../fonts/font_lily.css");

@import url("../fonts/chakals/font_american.css");
@import url("../fonts/chakals/font_libby.css");
@import url("../fonts/chakals/font_lowvetica.css");
@import url("../fonts/chakals/font_petita.css");
@import url("../fonts/chakals/font_us101.css");

/*
 * Band names :
 */

#bandname {
   line-height:            0.7em;
   margin:                 65px 20px 0px;
   text-align:             left;
   text-shadow:            0px 0px 10px rgba(100,45,0,0.8);
}

#bandname.theeskapad {
   font-family:            ssgrogy,sans-serif;
   font-size:              7em;
/*    margin-top:             13px; */
}

#bandname.groovtrotterz {
   font-family:            lilyupc,sans-serif;
   font-size:              6em;
   letter-spacing:         -4px;
   line-height:            0.5em;
/*    margin-bottom:          15px; */
}

#bandname.chakals {
   font-family:            'u.s._101regular',sans-serif;
   font-size:              6em;
   letter-spacing:         -5px;
/*    margin-top:             27px; */
}

/*
 * Band style :
 */

#bandstyle {
   font-family:            hamburgerheaven, sans-serif;
   font-size:              2em;
   font-weight:            lighter;
   line-height:            0.5em;
   margin:                 15px 20px 10px;
   text-align:             left;
   text-shadow:            0px 0px 15px rgba(100,45,0,0.8);
}

/*
 * Image legend :
 */

.legend_right {
   margin:                 0px;
   text-align:             right;
}

/*
 * Articles :
 */
 
.article_scroll {
   font-size:              1.1em;
   text-align:             justify;
   margin:                 10px 0px;
   padding:                0px 20px;
   overflow-y:             auto;
}

.article_noscroll {
   font-size:              1.1em;
   text-align:             justify;
   margin:                 10px 0px;
   padding:                0px 20px;
}

