/*
 * LaPhunk production stylesheet.
 * 
 *   This file is part of LaPhunk production website.
 * 
 *   You can redistribute it and/or modify it under the terms of the
 *   GNU Lesser General Public License as published by the Free Software
 *   Foundation, either version 3 of the License, or (at your option)
 *   any later version.
 * 
 *   This code is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *   GNU Lesser General Public License for more details.
 * 
 *   See <http://www.gnu.org/licenses/> for complete copy of the GNU
 *   Lesser General Public License.
 *
 * @author Nicolas Broussard <laphunkprod@gmail.com>
 *         LaPhunk, 2013.
 */

@import url("modules/logos.css");    /* Load CSS rules for logos. */
@import url("modules/media.css");    /* Load CSS rules for media. */
@import url("modules/text.css");     /* Load CSS rules for text.  */
@import url("modules/controls.css"); /* Load CSS rules for text.  */
@import url("modules/player.css");   /* Player stylesheet.        */
@import url("modules/animate.css");  /* CSS3 animations lib.      */

@import url("pages/home.css");       /* Home page stylesheet.     */
@import url("pages/about.css");      /* About page stylesheet.    */
@import url("pages/bands.css");      /* Band page stylesheet.     */
@import url("pages/contact.css");    /* Contact page stylesheet.  */
@import url("pages/events.css");     /* Events page stylesheet.   */

@import url("fonts/font_hamburgerheaven.css");  /* Custom font.   */

html, body
{ margin: 0; padding: 0; width: 100%; height: 100%; }

body {
/*     border:             solid purple; */
   
   color:                #220022;
                         
   font-family:          hamburgerheaven,sans-serif;
   font-size:            1.1em;
   text-shadow:          0px 0px 2px rgba(100,45,0,0.5);
                         
   min-width:            900px;
   overflow-x:           auto;
   overflow-y:           hidden;
}

p {
   margin:               20px 0px;
}

h3 {
   font-size:            1.6em;
   font-weight:          normal;
   line-height:          0.3em;
}

h4 {
   font-size:            1.2em;
   font-weight:          normal;
   line-height:          0.3em;
}

ul {
   list-style-type:      none;
   margin:               0px;
   padding:              0px;
}

td {
   padding:              0px 5px;
   font-size:            1.4em;
}

/*
 * Page containers :
 */

.page {
   border:               none;
   height:               100%;
   overflow:             auto;
   position:             relative;
   width:                100%;
   
   /* CSS3 bug fix (flashing webpage under Safari) : */
   -webkit-backface-visibility:  hidden;
   -webkit-perspective:          1000;
}

.innerSlider {
   background-color:     #ffb088;
   background-image:     url("../img/background.png");
   background-repeat:    repeat;
}

div[id^="ajax-loaded-content-"] {
   height:               100%;
}

/*
 * Block centering rules :
 */

.center_h {
   margin-left:           auto;
   margin-right:          auto;
}

.center_v_father {
   display:               table;
   overflow:              visible;
   height:                100%;

   #position:             relative; /* (1) */
}

.center_v_child {
   display:               table-cell;
   vertical-align:        middle;

   #position:             absolute; /* (1) */
   #top:                  50%;      /* (1) */
}

.center_v_compat {
   #position:             relative; /* (1) */
   #top:                  -50%;     /* (1) */
}

/* (1) : see http://bit.ly/119UDfy */

/*
 * Misc. global style rules :
 */

.nodecoration { /* Undecorated links. */
   text-decoration:       none;
   color:                 #220022;
}

.fleft {
   float:                 left;
}

::selection { /* Text highlighting color. */
   background:            rgba(0,0,0,0.5) ;
   color:                 rgba(255,236,224,0.7) ;
}
::-moz-selection {
   background:            rgba(0,0,0,0.5) ;
   color:                 rgba(255,236,224,0.7) ;
}

/*
 * Error (404) page style :
 */

#zbla {
   font-size:             1.2em;
   line-height:           1.5em;
   margin:                auto;
   position:              relative;
   text-align:            center;
   top:                   100px;
   width:                 450px;
}

.waigro {
   color:                 rgb(101,256,86);
   font-family:           weltronspecialpower_bold, sans-serif;
   font-size:             5.7em;
   font-weight:           normal;
                          
   text-shadow:           0px 0px 60px    rgba(84,50,0,0.9),
                          
                          /* 
                           * Simulated stroke effect for Firefox and Opera
                           * and nice enhancement for WebKit :
                           */
                          -4px -4px 1px   rgb(16,26,28),
                           4px -4px 1px   rgb(16,26,28),
                          -4px  4px 1px   rgb(16,26,28),
                           4px  4px 1px   rgb(16,26,28);
}

.backhome {
   background:            black;
   box-shadow:            0px 0px 30px #422100;
   font-size:             1em;
   line-height:           4em;
   padding:               10px 30px 5px;
   text-transform:        none;
   z-index:               999;
   
   -webkit-border-radius: 35px;
   -webkit-border-radius: 35px;
   -moz-border-radius:    35px;
   -moz-border-radius:    35px;
   border-radius:         35px;
   border-radius:         35px;
}

/*
 * TEMPORARY (development) rules :
 */

/*
div, table, td { border: dotted blue 1px ; }
#stratus, .innerSlider, .page { border: none; }
*/
