/*
 * LaPhunk production ABOUT PAGE STYLESHEET.
 * 
 *   This file is part of LaPhunk production website.
 * 
 *   You can redistribute it and/or modify it under the terms of the
 *   GNU Lesser General Public License as published by the Free Software
 *   Foundation, either version 3 of the License, or (at your option)
 *   any later version.
 * 
 *   This code is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *   GNU Lesser General Public License for more details.
 * 
 *   See <http://www.gnu.org/licenses/> for complete copy of the GNU
 *   Lesser General Public License.
 *
 * @author Nicolas Broussard <laphunkprod@gmail.com>
 *         LaPhunk, 2013.
 */
/*
.about_main {
   border:           solid;
   height:           84%;
   min-width:        500px;
   padding:          50px 40px;
   padding-right:    350px;
   width:            50%;
   text-shadow:      1px -1px 3px rgba(84,50,0,0.8);
}
*/
.about_main {
/*    border:           solid; */
   font-size:        0.9em;
   height:           85%;
   margin:           4%;
   overflow-x:       hidden;
   overflow-y:       auto;
   padding-right:    10px;
   position:         absolute;
   width:            60%;
}

.about_logotop {
   margin-bottom:    -75px;
}

#tonton {
   background-image: url("../../img/agent_groove.png");
   bottom:           0px;
   height:           700px;
   position:         absolute;
   right:            0px;
   width:            502px;
}
