/*
 * LaPhunk production BAND PAGE STYLESHEET.
 * 
 *   This file is part of LaPhunk production website.
 * 
 *   You can redistribute it and/or modify it under the terms of the
 *   GNU Lesser General Public License as published by the Free Software
 *   Foundation, either version 3 of the License, or (at your option)
 *   any later version.
 * 
 *   This code is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *   GNU Lesser General Public License for more details.
 * 
 *   See <http://www.gnu.org/licenses/> for complete copy of the GNU
 *   Lesser General Public License.
 *
 * @author Nicolas Broussard <laphunkprod@gmail.com>
 *         LaPhunk, 2013.
 */

/* Import fonts : */
@import url("../fonts/font_ssgrogy.css");
@import url("../fonts/font_lily.css");

/*
 * Page containers :
 */

.band_main  {
   font-size:        0.7em;
   min-width:        800px;
   width:            87%;
}

.band_legend {
   vertical-align:   bottom;
}

.band_headname {
   padding:          0px;
}

.band_disk_social {
   vertical-align:   top;
}

.band_bio {
   
}

/*
.band_left  {
   padding-top:      80px; /* 105px ? *
   vertical-align:   top;
   width:            300px;
}

.band_right {
   margin:           0px 0px 40px;
}
*/

/*
.band_bio {
   height:     390px;
}

*/

/*
#bandname.theeskapad {
    font-family:            ssgrogy,sans-serif;
    font-size:              7em;
}

#bandname.groovtrotterz {
    font-family:            lilyupc,sans-serif;
    font-size:              6em;
    letter-spacing:         -4px;
    line-height:            0.6em;
    margin-top:             -25px;
    margin-bottom:           25px;
}

#bandstyle {
    font-family:            hamburgerheaven, sans-serif;
    font-size:              2em;
    font-weight:            lighter;
    text-shadow:            0px 0px 15px rgba(100,45,0,0.8);
}

#bandstyle.theeskapad {
    margin:                 -7px 0px 0px 27px;
}

#bandstyle.groovtrotterz {
    margin:                 -20px 0px 20px 22px;
}

#bandbio {
    height:                 400px;

    font-size:              1.1em;
    text-align:             justify;
    
    margin-left:            2px;
    margin-top:             10px;
    
    padding:                0px 22px;
    
    overflow-y:             auto;
}

#bandbio.theeskapad {
    
}

#bandbio.groovtrotterz {
    height:                 330px;
}
*/