/*
 * LaPhunk production CONTACT PAGE STYLESHEET.
 * 
 *   This file is part of LaPhunk production website.
 * 
 *   You can redistribute it and/or modify it under the terms of the
 *   GNU Lesser General Public License as published by the Free Software
 *   Foundation, either version 3 of the License, or (at your option)
 *   any later version.
 * 
 *   This code is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *   GNU Lesser General Public License for more details.
 * 
 *   See <http://www.gnu.org/licenses/> for complete copy of the GNU
 *   Lesser General Public License.
 *
 * @author Nicolas Broussard <laphunkprod@gmail.com>
 * (C) LaPhunk, 2013.
 */

/*
 * Custom font.
 */
 
@import url("../fonts/font_weltronspecialpower.css");

/*
 * Usual CSS rules.
 */

/*
.contact_main {
    position:           relative;
    top:                50px;
    width:              600px;
}
*/

#contactlogo {
    background-image:   url('../../img/touch.png');
    width:              400px;
    height:             280px;
    margin:             -50px auto 20px;
}

#getintouch {
    font-family:        weltronspecialpower_bold, sans-serif;
    font-weight:        normal;
    font-size:          5.7em;
    text-align:         center;
    
    margin:             0px 0px 0px 30px;
                        
    color:              rgb(101,256,86);
                        
    text-shadow:        0px 0px 60px    rgba(84,50,0,0.9),
                        
                        /* 
                         * Simulated stroke effect for Firefox and Opera
                         * and nice enhancement for WebKit :
                         */
                        -4px -4px 1px   rgb(16,26,28),
                         4px -4px 1px   rgb(16,26,28),
                        -4px  4px 1px   rgb(16,26,28),
                         4px  4px 1px   rgb(16,26,28);
}                       
