/*
 * LaPhunk production HOMEPAGE STYLESHEET.
 * 
 *   This file is part of LaPhunk production website.
 * 
 *   You can redistribute it and/or modify it under the terms of the
 *   GNU Lesser General Public License as published by the Free Software
 *   Foundation, either version 3 of the License, or (at your option)
 *   any later version.
 * 
 *   This code is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *   GNU Lesser General Public License for more details.
 * 
 *   See <http://www.gnu.org/licenses/> for complete copy of the GNU
 *   Lesser General Public License.
 *
 * @author Nicolas Broussard <laphunkprod@gmail.com>
 *         LaPhunk, 2013.
 */

/* Import fonts : */
@import url("../fonts/font_andes.css");

/* Import modules : */
@import url("home_animations.css");

/*
 * "Get
 *  Phunky !" :
 */

#getphunky {
    bottom:             13px;
    left:               16px;
    position:           absolute;
}

#getphunky_arrow {
    background-image:   url("../../img/down_arrow.png");
    height:             33px;
    width:              30px;
}

#getphunky_text {
    font-family:        andes, sans-serif;
    font-size:          3em;
}

/*
 * Navigation control disk covers (below LAPHUNK prod.) :
 */

.icon_control {
   margin:              -21px 4px 40px;
}