/*
 * LaPhunk production animation stylesheet.
 * 
 *   This file is part of LaPhunk production website.
 * 
 *   You can redistribute it and/or modify it under the terms of the
 *   GNU Lesser General Public License as published by the Free Software
 *   Foundation, either version 3 of the License, or (at your option)
 *   any later version.
 * 
 *   This code is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *   GNU Lesser General Public License for more details.
 * 
 *   See <http://www.gnu.org/licenses/> for complete copy of the GNU
 *   Lesser General Public License.
 *
 * @author Nicolas Broussard <laphunkprod@gmail.com>
 * (C) LaPhunk, 2013.
 */

#getphunky {
    animation:              tada 0.75s;
    -moz-animation:         tada 0.75s; /* Firefox */
    -webkit-animation:      tada 0.75s; /* Safari and Chrome */
    -o-animation:           tada 0.75s; /* Opera */
    
    animation-delay:        1.5s; /* W3C and Opera */
    -moz-animation-delay:   1.5s; /* Firefox */
    -webkit-animation-delay:1.5s; /* Safari and Chrome */
}

#getphunky:hover {
    animation:              pulse 0.15s;
    -moz-animation:         pulse 0.15s; /* Firefox */
    -webkit-animation:      pulse 0.15s; /* Safari and Chrome */
    -o-animation:           pulse 0.15s; /* Opera */
}

#getphunky_arrow {
    animation:              bounce 1s;
    -moz-animation:         bounce 1s; /* Firefox */
    -webkit-animation:      bounce 1s; /* Safari and Chrome */
    -o-animation:           bounce 1s; /* Opera */
    
    animation-delay:        3s; /* W3C and Opera */
    -moz-animation-delay:   3s; /* Firefox */
    -webkit-animation-delay:3s; /* Safari and Chrome */
}
