<!-- Navigation controls : -->

<ul id="nav">

   <a href="javascript:navTo('home');" class="clink">
      <div class="c_line_left"></div>
      <li class="control cleft chome_v">
      H<br/>o<br/>m<br/>e
      </li>
   </a>

</ul>

<!-- Main container : -->

<div class="about_main">

   <!-- LaPhunk medium logo, top-left corner : -->
   
   <div class="logo_mediumleft about_logotop">
      <a href="javascript:navTo('home');" class="nodecoration" title="<- HOME">
      <h1 class="logo_mediumleft_laphunk">La<br/>Phunk</h1>
      <h2 class="logo_mediumleft_prod">prod.</h2>
      </a>
   </div>

   <!-- Description article, no scroll : -->
   
   <div class="article_noscroll">
      <h3>Gourou du groove,</h3>
      <h3>Colporteuse de talent !</h3>
      
      <p>LaPhunk pimp ton groove !</p>
      
      <p>Née d’un cocktail explosifunky de groupes Normands en soif de live, 
      LaPhunk (association loi 1901) suit depuis 2012 le groupe The Eskapad, 
      depuis quelques mois Groov’Trotter’z, et depuis peu les curieux Chakals 
      dans l’organisation de soirées funk, soul &amp; rock’n’roll.</p>
      
      <p>Activistes musicophiles des environs Ébroïciens de jour et 
      aventuriers du groove normandie-coast la nuit : ce qu’on aime c’est 
      vous faire voyager, vibrer, trembler, danser !</p>
      
      <h3>Starring :</h3>
      <h4>
      <a href="javascript:navTo('chakals');" class="nodecoration">
      Chakals</a> — 
      <a href="javascript:navTo('theeskapad');" class="nodecoration">
      The Eskapad</a> — 
      <a href="javascript:navTo('groovtrotterz');" class="nodecoration">
      Groov'Trotter'z
      </a>
      </h4>
   </div>

</div>

<!-- Tonton's photo (our mentor forever) : -->

<div id="tonton"></div>
