<!-- Navigation controls : -->

<ul id="nav">

   <a href="javascript:navTo('home')" class="clink">
      <div class="c_line_top"></div>
      <li class="control ctop chome_h">
      Home
      </li>
   </a>
   
   <a href="javascript:navTo('theeskapad')" class="clink">
      <div class="c_line_right"></div>
      <li class="control cright ctheeskapad_v">
      E<br/>s<br/>k<br/>a<br/>p<br/>a<br/>d
      </li>
   </a>
   
</ul>

<!-- Main container : -->

<div class="center_v_father">
   <div class="center_v_child">
      <table class="band_main center_h center_v_compat">
         <tr>
         
         <!-- Disk legend, right-aligned : -->
         <td class="band_legend">
            <p class="legend_right">
            Nouvel EP :<br/>
            "Chakals" (Fait maison, mai 2013)
            </p>
         </td>
         
         <!-- Band name head title : -->
         <td class="band_headname">
            <h1 id="bandname"  class="chakals">CHAKALS</h1>
         </td>
         
         </tr>
         <tr>
         
         <!-- Disk cover thumbnail, zoom enabled, and social toolbar : -->
         <td class="band_disk_social">
            <div class="zoom_enabled">
               <a href="img/chakals_ep_cover.png">
               <img class="media_disk_thumb" src="img/chakals_ep_cover_medium.png"
                                             alt="Nouvel EP : Chakals (05/2013)"/>
               </a>
            </div>
            
            <div class="bandsocial">
              	<a href="http://www.youtube.com/user/leschakals" target="_blank">
              	<img class="media_socialtb_icon" src="img/social_youtube.png"
              	                                 alt="Retrouvez nos mix sur Youteub !"
              	                                 title="Retrouvez nos mix sur Youteub !"/>
              	</a>
              	<a href="http://grooveshark.com/artist/Chakals/2615939" target="_blank">
              	<img class="media_socialtb_icon" src="img/social_grooveshark.png"
              	                                 alt="En libre écoute sur Grooveshark !"
              	                                 title="En écoute libre sur Grooveshark !"/>
              	</a>
              	<a href="http://soundcloud.com/chakals" target="_blank">
              	<img class="media_socialtb_icon" src="img/social_soundcloud.png"
              	                                 alt="Suivez-nous sur Soundcloud !"
              	                                 title="Suivez-nous sur Soundcloud !"/>
              	</a>
              	<a href="http://facebook.com/chakalsmusic" target="_blank">
              	<img class="media_socialtb_icon" src="img/social_facebook.png"
              	                                 alt="Retrouvez-nous sur Facebook !"
              	                                 title="Retrouvez-nous sur Facebook !"/>
              	</a>
            </div>
         </td>
         
         <!-- Article box, with scroll : -->
         <td class="band_bio">
            <h2 id="bandstyle" class="chakals">electrofunk</h2>
            <div class="article_scroll">
               <p>
               Une bien belle surprise avec ce groupe parisien nommé Chakals qui a sorti il y a quelques semaines son tout premier single éponyme.
               </p>
               <p>
               Le quintette nous propulse dans un univers entre électronique, funk et rétro, paroles anglaises entrainantes et parfaitement maitrisées à l’appuie donnant ce petit quelque chose qui fait toute la différence.
               </p>
               <p>
               Un gros coup de coeur pour le titre Ocean, qui est d’ailleurs pleinement de saison.
               On vous laisse les découvrir et apprécier ci-dessous ou via leur Youtube.
               </p>
               <p>
               Pour les découvrir en live rendez-vous le 30 Aout prochain au Festival Rock in The Barn où ils joueront aux côtés de Concrete Knives, Juveniles ou encore Divine Paiste.
               </p>
            </div>
         </td>
         
         </tr>
      </table>
   </div>
</div>

<!-- Image zoom scripts... -->
<script src="scripts/imgzoom.js"></script>