<!-- Navigation controls : -->

<ul id="nav">
   <a href="javascript:navTo('home')" class="clink">
      <div class="c_line_bottom"></div>
      <li class="control cbottom chome_h">
      Home
      </li>
   </a>
</ul>

<!-- Main container : -->

<div class="center_h center_v_father">
   <div class="center_v_child">
      <div class="contact_main center_v_compat">
         
         <h1 id="getintouch">Get in touch !</h1>
         <div id="contactlogo"></div>
         
         <table class="center_h">
            <tr>
               <td><img class="logocontact" src="img/icon_mail.png" alt="e-mail :"/></td>
               <td><a href="mailto:laphunkproduction@gmail.com"
                      class="nodecoration baseline_center">laphunkproduction@gmail.com</a></td>
            </tr>
            <tr>
               <td><img class="logocontact" src="img/icon_tel.png" alt="mobile :"/></td>
               <td>06 10 13 71 28</td>
            </tr>
         </table>
         
      </div>
   </div>
</div>
