<!-- Navigation controls : -->

<ul id="nav">

   <a href="javascript:navTo('home')" class="clink">
      <div class="c_line_top"></div>
      <li class="control ctop chome_h">
      Home
      </li>
   </a>
   
   <a href="javascript:navTo('theeskapad')" class="clink">
      <div class="c_line_left"></div>
      <li class="control cleft ctheeskapad_v">
      E<br/>s<br/>k<br/>a<br/>p<br/>a<br/>d
      </li>
   </a>

</ul>

<!-- Main container : -->

<div class="center_v_father">
   <div class="center_v_child">
      <table class="band_main center_h center_v_compat">
         <tr>
         
         <!-- Disk legend, right-aligned : -->
         <td class="band_legend">
            <p class="legend_right">
            EP à l'écoute :<br/>
            "Groov'Trotter'Z" (Le Silo, avril 2012)
            </p>
         </td>
         
         <!-- Band name head title : -->
         <td class="band_headname">
            <h1 id="bandname"  class="groovtrotterz">GROOV'<br/>TROTTER'Z</h1>
         </td>
         
         </tr>
         <tr>
         
         <!-- Disk cover thumbnail, zoom enabled, and social toolbar : -->
         <td class="band_disk_social">
            <div class="zoom_enabled">
               <a href="img/groovtrotterz_ep_cover.png">
               <img class="media_disk_thumb" src="img/groovtrotterz_ep_cover_medium.png"
                                             alt="EP : Groov'Trotter'Z (04/2012)"/>
               </a>
            </div>
            <div class="bandsocial">
              	<a href="http://youtu.be/DFSnB74tKaA" target="_blank">
              	<img class="media_socialtb_icon" src="img/social_youtube.png"
              	                                 alt="En session acoustique sur Youteub !"
              	                                 title="En session acoustique sur Youteub !"/>
              	</a>
              	<a href="http://myspace.com/groovtrotterz" target="_blank">
              	<img class="media_socialtb_icon" src="img/social_myspace.png"
              	                                 alt="Encore plus de groove sur Myspace !"
              	                                 title="Encore plus de groove sur Myspace !"/>
              	</a>
              	<a href="http://soundcloud.com/groovtrotterz" target="_blank">
              	<img class="media_socialtb_icon" src="img/social_soundcloud.png"
              	                                 alt="Suivez-nous sur Soundcloud !"
              	                                 title="Suivez-nous sur Soundcloud !"/>
              	</a>
              	<a href="http://facebook.com/groovtrotterz" target="_blank">
              	<img class="media_socialtb_icon" src="img/social_facebook.png"
              	                                 alt="Retrouvez-nous sur Facebook !"
              	                                 title="Retrouvez-nous sur Facebook !"/>
              	</a>
            </div>
         </td>
         
         <!-- Band style then article box, with scroll : -->
         <td class="band_bio">
            <h2 id="bandstyle" class="groovtrotterz">hip-hop/funk/soul</h2>
            <div class="article_scroll band_bio">
               <p>
               Les Globe-trotters parcourent le globe à la recherche d'horizons.<br/>
               Les Groov' Trotter'z à l'aide du groove partent en quête de diverses sonorités !
               </p>
               <p>
               Créé en 2009, ce groupe à d’abord construit son expérience sur la scène régionale (Rouen et Evreux) dans les bars, salles de concerts (l’Abordage, Le Silo, La Gare Aux Musiques) et les festivals (Mauvaises Graines, Ça Sonne À La Porte, Froggy Deluxe, Rock In The Barn, Musik Du Monde).</p>
               <p>
               Depuis le début d’année ils démarchent les lieux et évènements parisiens. Le groupe à enregistré son premier CD de 5 titres en studio (Le Silo) en avril 2012.
               </p>
               <p>
               Leur style est métissé, c’est pourquoi il est difficile d’étiqueter leur musique ! Les origines musicales étant variées, on retiendra "groove" comme l'appellation la plus fidèle les caractérisant.
               </p>
               <p>
               Leur aspiration est de produire une ambiance rythmée et colorée en mélangeant funk, soul, rock, hip-hop ou encore jazz...
               </p>
               <p>
               À toute occasion c'est un bain d'énergie positive et dansante en live !
               </p>
            </div>
         </td>
         
         </tr>
      </table>
   </div>
</div>

<!-- Image zoom scripts... -->
<script src="scripts/imgzoom.js"></script>
