
<!-- Navigation controls : -->

<ul id="nav">
   <a href="javascript:navTo('contact');" class="clink">
      <div class="c_line_top"></div>
      <li class="control ctop ccontact_h">
      Contact !
      </li>
   </a>
   
   <a href="javascript:navTo('about');" class="clink">
      <div class="c_line_right"></div>
      <li class="control cright cabout_v">
      A<br/>b<br/>o<br/>u<br/>t
      </li>
   </a>
   
   <a href="javascript:navTo('events');" class="clink">
      <div class="c_line_left"></div>
      <li class="control cleft cevents_v">
      E<br/>v<br/>e<br/>n<br/>t<br/>s
      </li>
   </a>
</ul>

<!-- LaPhunk big (homepage) logo, centered : -->

<div class="center_h center_v_father">
   <div class="center_v_child">
      <div class="logo_big center_v_compat">
      
      <!-- "LAPHUNK" : -->
      
      <h1 class="logo_big_laphunk">
      <a class="nodecoration" href="javascript:navTo('about');">LaPhunk</a>
      </h1>
      
      <!-- Band cover icons, with navigation control : -->

      <a href="javascript:navTo('chakals');"
         class="nodecoration icon_control fleft trigger"
         title="CHAKALS">
      <img class="media_icon_hover"
           src="img/chakals_ep_cover_small.png"
           alt="CHAKALS"/>
      </a>
               
      <a href="javascript:navTo('theeskapad');"
         class="nodecoration icon_control fleft trigger"
         title="THE ESKAPAD">
      <img class="media_icon_hover"
           src="img/theeskapad_goldenwest_cover_small.png"
           alt="THE ESKAPAD"/>
      </a>
               
      <a href="javascript:navTo('groovtrotterz');"
         class="nodecoration icon_control fleft trigger"
         title="GROOV'TROTTER'Z">
      <img class="media_icon_hover"
           src="img/groovtrotterz_ep_cover_small.png"
           alt="GROOV'TROTTER'Z"/>
      </a>

      <!-- "prod." : -->
      
      <h2 class="logo_big_prod">prod.</h2>
      
      </div>
   </div>
</div>

<!-- "Get Phunky !", with animations and play control : -->

<div id="getphunky">
   <a href="#!home" class="stratus nodecoration">
   <div id="getphunky_text">Get<br/>phunky !</div>
   <div id="getphunky_arrow"></div>
   </a>
</div>

<script type="text/javascript">
$('a.stratus').click(function() {
   $.postMessage($(this).attr('href'), stratus_url, $('#stratus iframe')[0].contentWindow);
   return false;
});
</script>
