<!-- Navigation controls : -->

<ul id="nav">

   <a href="javascript:navTo('home')" class="clink">
      <div class="c_line_top"></div>
      <li class="control ctop chome_h">
      Home
      </li>
   </a>
   
   <a href="javascript:navTo('chakals')" class="clink">
      <div class="c_line_left"></div>
      <li class="control cleft cchakals_v">
      C<br/>h<br/>a<br/>k<br/>a<br/>l<br/>s
      </li>
   </a>

   <a href="javascript:navTo('groovtrotterz')" class="clink">
      <div class="c_line_right"></div>
      <li class="control cright cgtz_v">
      G<br/>t<br/>z
      </li>
   </a>
   
</ul>

<!-- Main container : -->

<div class="center_v_father">
   <div class="center_v_child">
      <table class="band_main center_h center_v_compat">
         <tr>
         
         <!-- Disk legend, right-aligned : -->
         <td class="band_legend">
            <p class="legend_right">
            Nouvel EP à l'écoute :<br/>
            "Golden West" (StudioLaCave, mars 2013)
            </p>
         </td>
         
         <!-- Band name head title : -->
         <td class="band_headname">
            <h1 id="bandname"  class="theeskapad">THE ESKAPAD</h1>
         </td>
         
         </tr>
         <tr>
         
         <!-- Disk cover thumbnail, zoom enabled, and social toolbar : -->
         <td class="band_disk_social">
            <div class="zoom_enabled">
               <a href="img/theeskapad_goldenwest_cover.png">
               <img class="media_disk_thumb" src="img/theeskapad_goldenwest_cover_medium.png"
                                             alt="Nouvel EP : Golden West (03/2013)"/>
               </a>
            </div>
            <div class="bandsocial">
              	<a href="http://youtu.be/SlGPSWD4Qwo" target="_blank">
              	<img class="media_socialtb_icon" src="img/social_youtube.png"
              	                                 alt="Clip de FUNKY DADDY sur Youteub !"
              	                                 title="Clip de FUNKY DADDY sur Youteub !"/>
              	</a>
              	<a href="http://myspace.com/theeskapadexperience" target="_blank">
              	<img class="media_socialtb_icon" src="img/social_myspace.png"
              	                                 alt="Encore plus de groove sur Myspace !"
              	                                 title="Encore plus de groove sur Myspace !"/>
              	</a>
              	<a href="http://soundcloud.com/theeskapad" target="_blank">
              	<img class="media_socialtb_icon" src="img/social_soundcloud.png"
              	                                 alt="Suivez-nous sur Soundcloud !"
              	                                 title="Suivez-nous sur Soundcloud !"/>
              	</a>
              	<a href="http://facebook.com/theeskapad" target="_blank">
              	<img class="media_socialtb_icon" src="img/social_facebook.png"
              	                                 alt="Retrouvez-nous sur Facebook !"
              	                                 title="Retrouvez-nous sur Facebook !"/>
              	</a>
            </div>
         </td>
         
         <!-- Band style then article box, with scroll : -->
         <td class="band_bio">
            <h2 id="bandstyle" class="theeskapad">funk'n'roll</h2>
            <div class="article_scroll band_bio">
               <p>
               The Eskapad est un trio de funk'n'roll from Normandy.
               Du groove et de l'énergie, ces types en ont à revendre !
               </p>
               <p>
               Mr Vinz, Mr P &amp; Mr Jool mettent en scène un projet simple et efficace : mélanger cocottes funky au bon vieux rock'n'roll. Leur but ultime ?<br/><br/>
               Shaker ton Booty !
               </p>
               <p>
               Ce dynamisme n'est d'ailleurs pas passé inaperçu sur les scènes normandes, notamment lors de la première partie de The Inspector Cluzo.
               </p>
               <p>
               Blood, Sex, Magic mais sans sucre ajouté, le funk des Meters dopé au rock'n'roll : la musique de The Eskapad est une recette approuvée since 2009 !
               </p>
               <p>
               À découvrir sur scène...
               </p>
            </div>
         </td>
         
         </tr>
      </table>
   </div>
</div>

<!-- Image zoom scripts... -->
<script src="scripts/imgzoom.js"></script>
